header {
    padding: 30px 30px 30px 40px;
    display: flex;
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-nav, .lista-nav01  {
    width: 45%;
}

.nav-list-01 {
    justify-content: flex-end;
}

.nav-list, .nav-list-01 {
   display: flex;
   list-style-type: none;
}

.nav-list li, a {
    justify-content: space-around;
    margin-top: 8px;
    margin-right: 25px;
    font-size: 1.8rem;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.nav-list img {
    padding-left: 10px;
}

.nav-list li, a:hover {
    color: hsl(0, 0%, 8%);
}

.nav-item-01 button {
    font-size: 1.8rem;
    margin: 0;
    padding: 0 20px 0 20px;
    height: 40px;
    position: relative;
    top: -9px;
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    border:2px solid hsl(0, 0%, 41%);
}

.nav-item-01 button:hover{
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
}

footer:hover {
    color: hsl(0, 0%, 8%);
}

/* CSS para menu suspenso */

.submenu-dropdown {
    display: none; /* Esconder o menu suspenso*/
    position: absolute;
    width: 15%;
}

.nav-list, .nav-item:hover .submenu-dropdown {
    display: flex; /* Exibir o menu suspenso */
}

.submenu-dropdown li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    list-style-type: none;
    border-radius: 15px;
    padding: 10px;
    padding-top: 5px;
    background-color: white;
}

.sd-item a {
    font-size: 1.5rem;
    color: hsl(0, 0%, 41%);
    width: 100%;
    padding: 5px;
    background-color: white;
}

.sd-item img {
    padding-right: 15px;
    background-color: white;
}

.sd-item a:hover {
    color: hsl(0, 0%, 8%);
}